.catalog-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  min-height: 465px;
  position: relative;

  &__more {
    font-size: 19.3px;
    color: #00a2dd;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 8px;
    padding-left: 23px;
    position: relative;

    &::after {
      content: "";
      width: 5px;
      height: 8px;
      position: absolute;
      background-repeat: no-repeat;
      background-image: url("../img/triangle-right.png");
      margin-left: 10px;
      bottom: 13px;
    }
  }
  &__info {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding-left: 23px;
  }
  &__price {
    font-size: 32px;
    line-height: 48px;
    margin-top: auto;
    padding-bottom: 36px;
    padding-left: 23px;

    &--seacruise {
      padding-bottom: 29px;
    }
    &--gelendzhik {
      padding-bottom: 25px;
    }
    &--old {
      font-size: 18px;
      opacity: 0.5;
      text-decoration: line-through;
      padding-left: 10px;
    }
  }
  &__label {
    margin: 0;
    position: absolute;
    width: 90px;
    height: 75px;
    right: 23px;
    top: -7px;
    background-color: #f20542;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding-top: 27px;

    &::after {
      content: "";
      position: relative;
      bottom: -5px;
      width: 0;
      height: 0;
      border-width: 5px 45px 15px;
      border-style: solid;
      border-color: #f20542 #f20542 transparent;
    }
    &--hit {
      background-color: #33c7fd;

      &::after {
        border-color: #33c7fd #33c7fd transparent;
      }
    }
    &--special {
      padding-top: 35px;

      &::after {
        bottom: -15px;
      }
    }
  }
  &--last {
    @media (max-width: @desktop-width) {
      .hidden();
    }
  }
  @media (min-width: @tablet-width) {
    width: 345px;
    margin-bottom: 25px;

    &:nth-child(odd) {
      margin-right: 30px;
    }
    &__label {
      right: 31px;
    }
    &__more {
      padding-left: 31px;
      padding-top: 22px;
      padding-bottom: 6px;
      width: 310px;
    }
    &__info {
      padding-left: 33px;

      &--route {
        width: 280px;
      }
    }
    &__price {
      padding-left: 32px;
      padding-top: 5px;
      &--novorossiysk {
        padding-top: 10px;
        padding-bottom: 31px;
      }
      &--gelendzhik {
        padding-bottom: 27px;
      }
    }
  }
  @media (min-width: @desktop-width) {
    width: 555px;
    margin-bottom: 20px;

    &:first-child {
      position: absolute;
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin-left: 585px;
    }
  }
}
