.catalog-items {
  @media (min-width: @tablet-width) {
    width: 720px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media (min-width: @desktop-width) {
    width: 1140px;
  }
}
