.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__phone {
    font-weight: 800;
    font-size: 14px;
    line-height: 48px;
  }
  &__support {
    font-size: 10px;
    line-height: 48px;
  }
}
