.intro {
  .wrapper();
  background-color: #cce1fc;
  background-repeat: no-repeat;
  background-image: url("../img/intro-background-mobile.jpg");
  margin-top: -110px;
  padding-top: 110px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/intro-background-tablet.jpg");
    margin-top: -119px;
    padding-top: 119px;
  }
  @media (min-width: @desktop-width) {
    background-image: url("../img/intro-background-desktop.jpg");
  }

  &__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  &__header {
  font-size: 50px;
  line-height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

    &--small {
      font-size: 20px;
      line-height: 48px;
      text-transform: none;
    }
  }
  &__to-cruises {
    font-family: "Raleway", Arial, sans-serif;
    text-decoration: none;
    // color: #FFFFFF;
  }
}


