.menu-options {
  @media (max-width: @tablet-width) {
    .hidden();
  }
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
    width: 510px;

    &__item {
      display: flex;
      align-items: center;
    }
    &__page-options {
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 14px;
    }
  }
}
