.page-header {
  .wrapper();
  padding-top: 27px;
  padding-bottom: 65px;


  @media (min-width: @tablet-width) {
    &__wrapper {
      display: flex;
      flex-direction: row;
    }
    &__menu-button {
      top: 5px;
    }
  }
}
